@import 'reset';
$border-right: #FFFFFF;
html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  width: 100%;
}
.main {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
header {
  height: 75px;
  position: fixed;
  top: 0;
  background: #2B3C43 url("../images/header-right.png") no-repeat right;
  background-size: 268px;
  width: 100%;
  span {
    color: #D1D3D5;
    position: relative;
    top: 30%;
    left: 45%;
  }
}
footer {
  position: fixed;
  bottom: 0;
  background-color: #2B3C43;
  width: 100%;
  height: 50px;
  .footer-left, .footer-right {
    display: inline-block;
    height: 50px;
  }
  .footer-left {
    background: url("../images/footer-left.png") no-repeat left;
    width: 20%;
    background-size: 25%;
  }
  .footer-right {
    background: url("../images/footer-right.png") no-repeat right;
    float: right;
    background-size: contain;
    width: 33%;
  }
  .footer-mid {
    display: inline-block;
    ul {
      padding: 0;
      font-size: 10px;
      margin: 0;
      overflow: hidden;
      height: 30px;
      li {
        display: inline;
        border-right: 0.8px solid $border-right;
        padding: 5px 10px;
        height: 50px;
        a {
          color: #D1D3D5;
          text-decoration: none;
          padding: 10px 20px;
        }
        a.active {
          color: #9E9E9E;
        }
      }
      li:last-child {
        border-right: none;
      }
    }
  }
}
.container {
  height: 100%;
  background: url("../images/sky.png") no-repeat 100% 50%;
  background-size: cover;
  .home-msg {
    text-align: center;
    line-height: 30px;
    font-size: 22px;
    font-family: sans-serif;
    height: 5em;
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    .line1,
    .line2,
    .line3 {
      color: #2B3C43;
    }
  }
}
